.card-container {
    background-color: white;
    padding: 40px 0;
    text-align: center;
   
    &.grid {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 5px;
        row-gap: 1em;
    }
}
// .card-component {
    
// }
.planning-page{
    padding-left: 80px;

}