body {
  margin: 0;
  background-color: #eff3f9;
}

/*Header*/
.header {
  background-color: #0bcaff;
  padding: 40px;
  text-indent: 100px;
  margin: 0;
/*background-image: url("../src/app/images/logo.png");*/
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
 
  
  }
  

  /*NavBar*/
.topnav {
  padding: 100% 30px;
  display: block;
  background-color: #0bcaff;
  position:fixed;
  text-align: center;
  overflow: auto;
  float: left;
  text-decoration: none;
 
   
  background-repeat: no-repeat;
  background-position: center top;
  background-position-y: 150px ;
  background-size: 30px;
  width: 102px;
   
} 

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

/*Card*/
.k-card {

  border-radius: 5px;
}

.second {
  position: relative;
  padding-left: 70px;
  padding-top: 0;
 line-height: 40px;
 vertical-align: right;
}  

.first{
  color: #00dd51;
}

.k-icon{
  position: relative;
  
  color: #ffca00;
   
}
#icon{
  position: absolute;
    color: #00dd51;
    font-size: 30px;
    right: 0;
}

h3 {
  font-weight: bold;
}

.col-sm-5 {

  box-sizing: border-box;
  padding:20px 0px 0px 10px; 
  position: absolute;
  margin: auto;
  width: 600px;
  height: 400px;
    
} 

h5 {
  font-weight: bold;
  text-align:left;
}

p{
  display: blok;
   line-height: 25px;
  }
   
  li {
float: left;
  }

  .logo{
  
    margin: 0px; 
    border-radius: 20%;
    width: 2%;
    height: 2%;
    
   
    
    
  }
  
  .card-container{
    padding: 10px;
    overflow: auto ;
    
    
    width: 600px;
    height: 800px;
  }
  p {
    text-align:left;
  }
  
  img {
    
      border-radius: 20%;
      width: 8%;
      height: 8%;
    
  }